<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link th:href="@{/css/userOp/prenotazioneForm.css}" rel="stylesheet">
<head
	th:replace="fragments/myH.html :: headerfiles(title='FormPrenotazione')">
<meta charset="utf-8" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav th:fragment="nav(index)" class="topnav">
		<a th:href="@{/index}">Home</a> <a href="#informazioni">Informazioni</a>
		<a href="tipoInterventi" th:href="@{/tipoInterventi}">TipologieInterventi</a> <span
				sec:authorize="hasAnyAuthority( 'ADMIN')"><a class="active"
			href="Interventi" th:href="@{/interventi}">Interventi</a> 
			<a href="Interventi" th:href="@{/prenotazioni}">Prenotazioni</a>
			</span>
			
		<span
				sec:authorize="hasAuthority('ADMIN')"><a href="areaAdmin"
				th:href="@{/admin/areaAdmin}">MenuAdmin</a></span>
				<span sec:authorize="hasAnyAuthority('DEFAULT', )">
		  <a  href="Interventi" th:href="@{/interventi}">TuoiInterventi</a> 
		  <a href="Interventi" th:href="@{/prenotazioni}">TuePrenotazioni</a> 
		</span>
		<div class="dropdown">
			<button class="dropbtn">
				Utente <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<div sec:authorize="isAnonymous()">
					<a th:href="@{/login}" th:text="#{index.login}">Login</a> <a
						th:href="@{/register}" th:text="#{index.register}">Registrati</a>
				</div>
				<div sec:authorize="isAuthenticated()">
					<a th:href="@{/logout}">Esci</a>
				</div>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">
				Follow Us! <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="#"><img th:src="@{/images/home/facebook.png}"
					height="16px" width="16px"> Facebook</a> <a href="#"><img
					th:src="@{/images/home/instagram.png}" height="16px" width="16px">
					Instagram</a>
			</div>
		</div>
	</nav>
	<section>
		<div class="title">
			<p>Inserisci i dati della prenotazione</p>
		</div>
		<form th:action="@{/prenotazione}" method="POST" th:object="${prenotazione}"
			enctype="multipart/form-data">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"
					style="text-align: center; color: red">...</p>
			</div>
		
			<div class="inserisci">
				<div class="row">
					<div class="col-1">
						<label>Cliente:</label>
					</div>
					<div class="col-2">
						<select id="credential" th:field="*{credential}">
							<option th:each="credential : ${credentials}"
								th:value="${credential.id}"
								th:if= "${credential.role}=='DEFAULT'" 
								th:text="${credential.user.nome + ' ' + credential.user.cognome}"></option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-1">
						<label>Tipologia di intervento:</label>
					</div>
					<div class="col-2">
						<select id="tipoIntervento" th:field="*{tipoIntervento}">
							<option th:each="tipoIntervento : ${tipoInterventi}"
								th:value="${tipoIntervento.id}" th:text="${tipoIntervento.nome}"></option>
						</select>
					</div>
				</div>
				<div class="column">
					<b class="dataint">Data Prenotazione</b>
					<p class="infot"  th:text="${prenotazione.dataPrenotazione}">19-07-1999</p>
					</div>
		
				
				<div class="but">
					<span><button type="submit" id="invio">Invio</button></span>
				</div>
			</div>
		</form>
	</section>
	<footer th:replace="fragments/myH.html :: fondo(index='/')"></footer>
</body>
</html>