<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link th:href="@{/css/userOp/prenotazioneForm.css}" rel="stylesheet">
<head
	th:replace="fragments/myH.html :: headerfiles(title='FormPrenotazione')">
<meta charset="utf-8" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav th:replace="fragments/myH.html :: nav(index='/default')"></nav>
	<section>
		<div class="title">
			<p>Inserisci i dati della prenotazione</p>
		</div>
		<form th:action="@{/prenotazione}" method="POST" th:object="${prenotazione}"
			enctype="multipart/form-data">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"
					style="text-align: center; color: red">...</p>
			</div>
			<div class="inserisci">
				<div class="row">
					<div class="col-1">
						<label>Tipologia di intervento:</label>
					</div>
					<div class="col-2">
						<select id="tipoIntervento" th:field="*{tipoIntervento}">
							<option th:each="tipoIntervento : ${tipoInterventi}"
								th:value="${tipoIntervento.id}" th:text="${tipoIntervento.nome}"></option>
						</select>
					</div>
				</div>
				<div class="column">
					<b class="dataint">Data Prenotazione</b>
					<p class="infot"  th:text="${prenotazione.dataPrenotazione}">19-07-1999</p>
					</div>
				<!-- <div class="row">
					<div class="col-1">
						<label>Biografia:</label>
					</div>
					<div class="col-2">
						<textarea th:field="*{biografia}" id="bio"
							style="height: 200px; width: 50%" /></textarea>
					</div>
					<div th:if="${#fields.hasErrors('biografia')}"
						th:errors="*{biografia}"></div>
				</div> -->
				
				
				<div class="but">
					<span><button type="submit" id="invio">Invio</button></span>
				</div>
			</div>
		</form>
	</section>
	<footer th:replace="fragments/myH.html :: fondo(index='/')"></footer>
</body>
</html>